<html ng-app="Veiculo">
    <head>
        <title>Teste Veiculo</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src= "../angular.min.js"></script>
        <script src="pessoa.js"></script>
    </head>
    <body ng-controller="PessoaVeiculoController" ng-init="iniciar()">
        Modelo
        <input type="text" ng-model="veiculo.modelo">  
        <br/>
        Pessoa    
        <input type="text" ng-mdel="veiculo.pessoa">
        <button ng-click="salvar()">Salvar</button>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Modelo</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in veiculos">
                    <td>{{v.modelo}}</td>
                    <td>{{v.pessoa}}</td>
                    <td>
                        <a href="#" ng-click="excluir(v)">Excluir</a>
                        <a href="#" ng-click="editar(v)">Editar</a>
                    </td>
                </tr>
            </tbody>
        </table>    
    </body>
</html>
